[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mj-ano
[access "refs/for/refs/*"]
	read = group user/mj-ano
	push = group user/mj-ano
	label-Code-Review = -2..+2 group user/mj-ano
	label-Verified = -1..+1 group user/mj-ano
	rebase = group user/mj-ano
	removeReviewer = group user/mj-ano
	submit = group user/mj-ano
[access "refs/heads/*"]
	read = group user/mj-ano
	create = group user/mj-ano
	push = +force group user/mj-ano
	pushMerge = group user/mj-ano
[access "refs/tags/*"]
	push = +force group user/mj-ano
	pushTag = group user/mj-ano
	pushSignedTag = group user/mj-ano
