!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/slick.grid.css')
    link(rel='stylesheet', href='/stylesheets/jquery.highlighttextarea.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery-ui-1.8.16.custom.min.js')
    script(src='/javascripts/jquery.event.drag-2.2.js')
    script(src='/javascripts/slick.core.js')
    script(src='/javascripts/slick.grid.js')
    script(src='/javascripts/jquery.highlighttextarea.js')



  body!= body
